/**
 * Title: restaurant.js
    Author: Manel Phiseme
    Date: 6/12/2022
    Description: this is part of the css code for 
    Restaurant.html
 **/
.form {  
  display: grid;
  grid-template-columns: auto auto;
  padding: 25px;
}

